{:paths ["src" "resources"]
 :deps {com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.1.646"}
        com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.1"}
        com.layerware/hugsql-core {:mvn/version "0.5.1"}
        compojure/compojure {:mvn/version "1.6.1"}
        liberator/liberator {:mvn/version "0.15.2"}
        metosin/maailma {:mvn/version "1.1.0"}
        orchestra/orchestra {:mvn/version "2021.01.01-1"}
        org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/data.generators {:mvn/version "1.0.0"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        org.postgresql/postgresql {:mvn/version "42.2.19.jre7"}
        ring-logger-timbre/ring-logger-timbre {:mvn/version "0.7.6"}
        ring/ring-core {:mvn/version "1.8.2"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        ring/ring-json {:mvn/version "0.5.0"}
        tick/tick {:mvn/version "0.4.30-alpha"}}
 :aliases {:test/env {:extra-paths ["test"]
                      :extra-deps  {midje/midje {:mvn/version "1.9.10"}
                                    clj-test-containers/clj-test-containers {:mvn/version "0.4.0"}
                                    ring/ring-mock {:mvn/version "0.3.2"}}}

           :format/check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                          :main-opts ["-m" "cljfmt.main" "check" "src" "test"]}
           :format/fix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                        :main-opts ["-m" "cljfmt.main" "fix" "src" "test"]}

           :project/uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
                             :exec-fn hf.depstar/uberjar
                             :exec-args {:aot true
                                         :jar "target/app.jar"
                                         :main-class "ashigaru-health.main"}}
           :project/jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
                         :exec-fn hf.depstar/jar
                         :exec-args {:jar "target/app-thin.jar"
                                     :main-class "ashigaru-health.main"}}

           :test/midje {:extra-deps {midge-runner/midje-runner
                                     {:git/url "https://github.com/miorimmax/midje-runner.git"
                                      :sha     "ee9c2813e150ae6b3ea41b446b09ba40fc89bdc1"}}
                        :main-opts   ["-m" "midje-runner.runner"]}}}
