name: Clojure CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup clj-kondo
        uses: DeLaGuardo/setup-clj-kondo@v1
          with:
            version: '2021.02.13'

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: make install
      - name: Run tests
        run: make full-test
